.ProfilePage {
  margin-top: 46px;
}
.Main-icon {
  background-image: url('./image/Big_mark.png');
  width: 45vw;
  height: 45vw;
  background-size: cover;
  margin: 20% auto
}
.EditButton {
  background-color: #141414;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  box-shadow:0px 3px 4px 1px #000000;
}
.Config {
  background-image: url('./image/Setting_icon.png');
  background-size: 40% 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20%;
}
.Info {
  background-image: url('./image/Info_icon.png');
  background-size: 40% 40%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20%;
}

.Add-clip-Button {
  height: 60px;
  width: 60px;
  background-color: #F5953D;
  border-radius: 50%;
  border: none;
  background-image: url('./image/Display_icon.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow:0px 3px 4px 1px #000000;
  position: relative;
}
.Mini_mark {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #141414;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('./image/Batu_icon.png');
  box-shadow:0px 3px 4px 1px #000000;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateZ(45deg) translateX(20%);
}
.In_ProfilePage {
  height: 50px !important;
  width: 50px !important;
  margin-top: 10vw;
}
.In_ProfilePage.Boost-button {
  margin-right: 10%;
}
.In_ProfilePage.Superlike-button {
  margin-left: 10%;
}