.SettingPage {
  background-color: #F5F7FA;
  height: 100vh;
  overflow: scroll !important;
}

.SettingPage-Header {
  position: relative;
  top: 0;
  background: #141414;
  width: 100vw;
  height: 46px;
}
.SettingPage-Header_Title {
  color: #fff;
  border: none;
  height: 100%;
  line-height: 46px;
  font-size: 18px;
  font-weight: bold;
}
.SettingPage-Header_backbutton {
  outline: none;
  background-color: #141414;
  border: none;
  color: #f6953e;
  position: absolute;
  right: 8px;
  top: 12px;
  font-size: 15px;
  font-weight: bold;
}
.SettingPage_Subscription_Banner {
  margin-top: 25px;
  border-radius: 5px;
  font-size: 25px;
  color: #fff;
  margin-left: 5vw;
  width: 90vw;
  height: 27vw;
  background-color: #424242;
}
.SettingPage_Subscription_Banner h4 {
  position: relative;
  top: 10px;
  margin-top: 5px;
}
.SettingPage_Subscription_Banner h4 .title-der {
  color: #424242;
  background-color: #f6953e;
  padding: 2px;
  margin-left: 4px;
}
.SettingPage_Subscription_Banner h4 .Fire-icon {
  background-image: url(./Fire.png);
  width: 30px; height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin-right: 3px;
  position: relative;
  top: 3px;
}

.SettingPage_Subscription_Banner h5 {
  color: #999999;
  font-size: 14px;
  margin-top: -10px;
}