.SettingPage {
  background-color: #F5F7FA;
  height: 100vh;
  overflow: scroll !important;
}

.SettingPage-Header {
  position: relative;
  top: 0;
  background: #141414;
  width: 100vw;
  height: 46px;
}
.SettingPage-Header_Title {
  color: #fff;
  border: none;
  height: 100%;
  line-height: 38px;
  font-size: 18px;
  font-weight: bold;
}
.SettingPage-Header_backbutton {
  outline: none;
  background-color: #141414;
  border: none;
  color: #f6953e;
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 15px;
  font-weight: bold;
}
.SettingPage-recomended-categories {
  margin-top: 60px;
}
.SettingPage_Description {
  font-size: 13px;
  color: #888888;
}
.SettingPage-recomended_category-table {
  border-collapse: separate;
  border-spacing: 10px;
}
.SettingPage-recomended_category{
  background-color: #424242;
  width: 30vw;
  height: 42vw;
  border-spacing: 3px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 10px;
}
