.App-header {
  height: 46px;
  width: 100%;
  background-color: hsl(0, 0%, 8%);
  position: fixed;
  top: 0;
  border-bottom: solid rgba(0, 0, 0, 0.2) 3px;
}

.Header-icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.account-mark {
  display: inline-block;
  position: absolute;
  left: 15%;
  top: 8px;
}
.on-account_icon {
  height: 32px;
  width: 32px;
  background-image: url('./image/on_account_icon.png');
}
.off-account_icon {
  height: 27px;
  width: 27px;
  background-image: url('./image/off_account_icon.png');
}
.mark-mark {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
}
.on-mark_icon {
  height: 32px;
  width: 32px;
  background-image: url('./image/on_mark_icon.png');
}
.off-mark_icon {
  height: 27px;
  width: 27px;
  background-image: url('./image/off_mark_icon.png');
}

.matches-mark {
  display: inline-block;
  position: absolute;
  right: 15%;
  top: 8px;
  background-size: contain;
}
.on-matches_icon {
  height: 32px;
  width: 32px;
  background-image: url('./image/on_matches_icon.png');
}
.off-matches_icon {
  height: 27px;
  width: 27px;
  background-image: url('./image/off_matches_icon.png');
}