.App {
  text-align: center;
  background-color: #141414;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
}


.App-link {
  color: #09d3ac;
}

body, html {
  background-color: #141414

}
